// VARIABLES
// =========
$serif: "Georgia", Times, serif;
$sanSerif: "Tahoma", Arial, san-serif;
$defaultFontSize: 16px;
$gray: #CDCDCD;
$border: 2px $gray solid;
$red: #942928;
$gold: #BD9F2F;
$blue: #2266CC;