@import "latimes";
@import "variables";

// SCAFFOLDING
// ===========

.app-container {
    width: 333px;
    height: 367px; //343px, 408px
    border: $border;
    margin-bottom: 19px;
}

#wrapper {
    width: 333px;
    height: 302px;
    overflow: auto;
    position: relative; // IE fix
}

.page-header {

    border-bottom: $border;
    padding-bottom: 5px;
    width: 333px;

    h1 {
        font-family: $serif;
        margin: 5px 0px -4px 18px;
        color: $red;
        font-weight: bold;
    }

    #subhed {
        font-size: ($defaultFontSize - 1);
        padding-bottom: 15px;
        margin: 5px 0px -13px 18px;
        display: block;

        a {
            color: $blue;
        }
    }

}

// LIST
// ====

#show-list {
    margin-top: 10px;
    margin-left: 0px; // LAT override
    list-style-position: outside; // LAT override

    li {
        border-bottom: $border;
        margin-left: 5px;
        overflow-x: hidden; // Windows fix
        padding: 15px;

        &:first-child {
            margin-top: -6px;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }

    .notable {
        background-color: lighten($gold, 22%);
        border-radius: 2px;
        display: inline-block;
        padding: 15px 10px 15px 10px;
        margin-left: -8px;
        width: 96%;

        a {
            font-weight: bold;
        }
    }
}
