/* RESET */
/* line 3, ../../app/styles/_latimes.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 8, ../../app/styles/_latimes.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../../app/styles/_latimes.scss */
fieldset, img {
  border: 0;
}

/* line 17, ../../app/styles/_latimes.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 22, ../../app/styles/_latimes.scss */
li {
  list-style: none;
}

/* line 26, ../../app/styles/_latimes.scss */
caption, th {
  text-align: left;
}

/* line 30, ../../app/styles/_latimes.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 36, ../../app/styles/_latimes.scss */
q:before, q:after {
  content: '';
}

/* line 41, ../../app/styles/_latimes.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 46, ../../app/styles/_latimes.scss */
sup {
  vertical-align: text-top;
}

/* line 50, ../../app/styles/_latimes.scss */
sub {
  vertical-align: text-bottom;
}

/* line 54, ../../app/styles/_latimes.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 60, ../../app/styles/_latimes.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 64, ../../app/styles/_latimes.scss */
legend {
  color: #000;
}

/* line 68, ../../app/styles/_latimes.scss */
del, ins {
  text-decoration: none;
}

/* line 72, ../../app/styles/_latimes.scss */
.clearfix {
  display: inline-block;
}
/* line 73, ../../app/styles/_latimes.scss */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 84, ../../app/styles/_latimes.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 88, ../../app/styles/_latimes.scss */
* html .clearfix {
  height: 1%;
}

/* TRIBUNE SEARCH BOX */
/* line 94, ../../app/styles/_latimes.scss */
.adv_search {
  padding-top: 20px;
  background-color: #fff;
}
/* line 97, ../../app/styles/_latimes.scss */
.adv_search h3, .adv_search h4 {
  color: #000;
}
/* line 100, ../../app/styles/_latimes.scss */
.adv_search .searchmasthead {
  width: 100%;
  height: 32px;
  line-height: 32px;
}
/* line 105, ../../app/styles/_latimes.scss */
.adv_search .searchpanels {
  clear: left;
  float: left;
  width: 164px;
  margin-left: 3px;
  margin-top: -49px;
}

/* line 114, ../../app/styles/_latimes.scss */
div.searchpanels h3 {
  margin: 10px 0;
}

/* line 119, ../../app/styles/_latimes.scss */
.adv_search .searchpanels .panel {
  margin-bottom: 20px;
}
/* line 122, ../../app/styles/_latimes.scss */
.adv_search #content {
  width: 645px;
  margin-left: 0;
  clear: both;
}
/* line 127, ../../app/styles/_latimes.scss */
.adv_search #search-results, .adv_search #search-google-ads, .adv_search #sponsored-links {
  width: 460px;
  float: right;
  clear: none;
}
/* line 132, ../../app/styles/_latimes.scss */
.adv_search #search-google-ads, .adv_search #sponsored-links {
  margin: 0;
  padding: 5px 0;
}

/* line 138, ../../app/styles/_latimes.scss */
div.sponsored-link {
  margin-bottom: 8px;
}

/* line 143, ../../app/styles/_latimes.scss */
.adv_search #search-results .search-terms img {
  display: inline;
  vertical-align: top;
}
/* line 147, ../../app/styles/_latimes.scss */
.adv_search .searchadrail {
  width: 335px;
  float: right;
}
/* line 150, ../../app/styles/_latimes.scss */
.adv_search .searchadrail div {
  margin: 0 auto;
}
/* line 154, ../../app/styles/_latimes.scss */
.adv_search #search-results ul.results-list dl {
  width: 100%;
}

/* line 160, ../../app/styles/_latimes.scss */
input#panel_date_range_custom_from, input#panel_date_range_custom_to {
  width: 85px;
}

/* line 166, ../../app/styles/_latimes.scss */
.tribForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 171, ../../app/styles/_latimes.scss */
.tribForm li {
  margin-bottom: 5px;
}
/* line 174, ../../app/styles/_latimes.scss */
.tribForm input {
  font-size: 12px;
  height: 20px;
  text-indent: 5px;
  vertical-align: middle;
}
/* line 179, ../../app/styles/_latimes.scss */
.tribForm input[type=hidden] {
  display: none;
  visibility: none;
}
/* line 183, ../../app/styles/_latimes.scss */
.tribForm input.prepop {
  color: #666;
}
/* line 188, ../../app/styles/_latimes.scss */
.tribForm .horiz input.adv_search_input {
  border: none;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  right: 19px;
  padding: 0;
}
/* line 198, ../../app/styles/_latimes.scss */
.tribForm .horiz input.adv_submit {
  background: transparent url(/img/adv_search/adv_search_btn.png) repeat top left;
  height: 23px;
  width: 21px;
  border: none;
  border-top: 2px solid #999;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-indent: -9999px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

/* line 217, ../../app/styles/_latimes.scss */
.horiz input.adv_submit {
  background: transparent url(/img/adv_search/adv_search_btn.png) repeat top left;
  height: 23px;
  width: 21px;
  border: none;
  border-top: 2px solid #999;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-indent: -9999px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

/* line 234, ../../app/styles/_latimes.scss */
#keyword_search_input {
  float: right;
  padding: 2px;
}

/* line 240, ../../app/styles/_latimes.scss */
.tribForm .submit {
  text-indent: 0;
  width: auto;
  margin-top: 4px;
}
/* line 245, ../../app/styles/_latimes.scss */
.tribForm input.submit {
  padding: 0 0 16px;
}
/* line 249, ../../app/styles/_latimes.scss */
.tribForm li label.inline, .tribForm li input.inline {
  display: inline;
  margin: 0;
}
/* line 255, ../../app/styles/_latimes.scss */
.tribForm .horiz label, .tribForm .horiz input {
  display: inline;
  margin-right: 5px;
  vertical-align: top;
}

/* line 263, ../../app/styles/_latimes.scss */
.horiz label, .tribForm .horiz input {
  display: inline;
  margin-right: 5px;
  vertical-align: top;
}

/* line 269, ../../app/styles/_latimes.scss */
.tribform .disabled {
  background: #ddd;
  color: #ccc;
}

/* line 274, ../../app/styles/_latimes.scss */
.tribForm .colWrap {
  overflow: hidden;
}

/*.tribForm .2col ul{width:50%;}
.tribForm .3col ul{width:33%;}
.tribForm .4col ul{width:25%;}
.tribForm .5col ul{width:20%;}*/
/* line 284, ../../app/styles/_latimes.scss */
.adv_search .searchmasthead p {
  display: inline;
  float: left;
  width: 160px;
  text-align: right;
}
/* line 290, ../../app/styles/_latimes.scss */
.adv_search .searchmasthead .searchform {
  display: inline;
  float: left;
  margin-left: 175px;
}
/* line 294, ../../app/styles/_latimes.scss */
.adv_search .searchmasthead .searchform .text {
  width: 390px;
}

/* line 301, ../../app/styles/_latimes.scss */
div.panelTab {
  background-position: 0 0;
  width: 156px;
  height: 26px;
  cursor: pointer;
  background: url(/img/adv_search/adv_panel_bg.png) no-repeat;
  padding: 6px 0 0 8px;
}
/* line 309, ../../app/styles/_latimes.scss */
div.panelTabActive {
  background: url(/img/adv_search/panel_bg.png) no-repeat;
}
/* line 312, ../../app/styles/_latimes.scss */
div.panelTab div {
  background: url(/img/adv_search/adv_carat_bg.png) no-repeat scroll 0 0 transparent;
  float: left;
  width: 17px;
  height: 15px;
  position: relative;
  top: -2px;
  padding: 0;
}
/* line 321, ../../app/styles/_latimes.scss */
div.panelTabActive div {
  background: url(/img/adv_search/adv_carat_bg.png) no-repeat scroll 0 -15px transparent;
  float: left;
  width: 17px;
  height: 15px;
  position: relative;
  top: -1px;
  padding: 0;
}
/* line 330, ../../app/styles/_latimes.scss */
div.panelLabel {
  width: 40px;
  text-align: right;
  float: left;
  padding: 4px 6px 0 0;
}

/* line 338, ../../app/styles/_latimes.scss */
#adv_keywords_head {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-top-right-border-radius: 5px;
  -moz-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -khtml-top-right-border-radius: 5px;
  -khtml-top-left-border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #000;
}

/* line 356, ../../app/styles/_latimes.scss */
#adv_keywords_close {
  display: block;
  float: right;
  background: transparent url(/img/adv_search/adv_search_close.png) no-repeat top left;
  _background: transparent url(/img/adv_search/adv_search_close.gif) no-repeat top left;
  text-indent: -9999px;
  width: 20px;
  height: 19px;
  margin: 2px 5px 2px 0;
}

/* line 367, ../../app/styles/_latimes.scss */
#adv_keywords_question {
  display: block;
  float: right;
  background: transparent url(/img/adv_search/search_results_question_opaque.png) no-repeat top left;
  _background: transparent url(/img/adv_search/search_results_question_opaque.gif) no-repeat top left;
  text-indent: -9999px;
  width: 20px;
  height: 19px;
  margin: 2px 5px 2px 0;
}

/* line 378, ../../app/styles/_latimes.scss */
div#bydate {
  margin-left: 10px;
}
/* line 379, ../../app/styles/_latimes.scss */
div#bydate div.calendarLinks {
  float: right;
  margin: 6px;
}
/* line 384, ../../app/styles/_latimes.scss */
div#bydate a {
  font-size: 85%;
  font-weight: 400;
}

/* line 390, ../../app/styles/_latimes.scss */
#panel_date_range_error {
  color: red;
  font-style: italic;
  display: none;
  padding: 6px 0;
}

/* line 397, ../../app/styles/_latimes.scss */
div.calendarLinks {
  margin-bottom: 12px;
}

/* line 401, ../../app/styles/_latimes.scss */
.custDateRow {
  width: 156px;
  padding: 2px 0;
}

/* line 407, ../../app/styles/_latimes.scss */
.adv_search .topsearch {
  margin-top: 20px;
}
/* line 409, ../../app/styles/_latimes.scss */
.adv_search .topsearch h4 {
  margin: 0 0 5px 2px;
}
/* line 412, ../../app/styles/_latimes.scss */
.adv_search .topsearch ul li {
  margin: 0 0 2px 20px;
}
/* line 416, ../../app/styles/_latimes.scss */
.adv_search #cat_tree {
  margin: 0 0 10px 10px;
}
/* line 418, ../../app/styles/_latimes.scss */
.adv_search #cat_tree li {
  cursor: pointer;
  list-style: none;
  padding-left: 14px;
  margin: 5px 0;
}
/* line 423, ../../app/styles/_latimes.scss */
.adv_search #cat_tree li span {
  cursor: default;
}
/* line 426, ../../app/styles/_latimes.scss */
.adv_search #cat_tree li.parent {
  background: url(/img/adv_search/adv_plus.png) no-repeat left top;
}
/* line 429, ../../app/styles/_latimes.scss */
.adv_search #cat_tree li.open {
  background: url(/img/adv_search/adv_minus.png) no-repeat left top;
}
/* line 432, ../../app/styles/_latimes.scss */
.adv_search #cat_tree li ul {
  display: none;
  margin: 0 0 5px;
}

/* line 440, ../../app/styles/_latimes.scss */
p.adv-sort {
  margin: 0 0 6px;
}
/* line 442, ../../app/styles/_latimes.scss */
p.adv-sort select {
  height: 20px;
}

/* line 447, ../../app/styles/_latimes.scss */
div.search-terms {
  clear: both;
  margin: 10px 0 8px;
}

/* line 453, ../../app/styles/_latimes.scss */
ul.adv-results-list li img {
  float: left;
  margin: 0 12px 6px 0;
}
/* line 457, ../../app/styles/_latimes.scss */
ul.adv-results-list li div {
  clear: none;
  margin: 0 0 12px;
}
/* line 461, ../../app/styles/_latimes.scss */
ul.adv-results-list li div span.date {
  font-style: normal;
  color: #000;
}
/* line 465, ../../app/styles/_latimes.scss */
ul.adv-results-list li div span.byline {
  font-size: 80%;
  font-weight: 700;
}
/* line 468, ../../app/styles/_latimes.scss */
ul.adv-results-list li div span.byline span.bylineName {
  text-transform: uppercase;
}

/* line 476, ../../app/styles/_latimes.scss */
#advSearchImages {
  clear: none;
  display: block;
  float: left;
}
/* line 480, ../../app/styles/_latimes.scss */
#advSearchImages ul {
  list-style: none;
  clear: both;
}
/* line 483, ../../app/styles/_latimes.scss */
#advSearchImages ul li {
  display: inline-block;
  width: 140px;
  height: 145px;
  float: left;
  padding: 5px 13px 5px 0;
}
/* line 489, ../../app/styles/_latimes.scss */
#advSearchImages ul li div.advImage {
  width: 140px;
  height: 105px;
  overflow: hidden;
  background: #eee;
}

/* line 499, ../../app/styles/_latimes.scss */
div.advPagination {
  text-align: center;
  clear: both;
  float: none;
}

/* line 505, ../../app/styles/_latimes.scss */
#hotTopic #basicsearch {
  position: absolute;
  right: 5px;
  top: 0;
  background-image: none;
  width: auto;
  _width: 0;
  margin: 0;
  padding: 0;
}

/* line 516, ../../app/styles/_latimes.scss */
#search_overlay {
  box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  -moz-box-shadow: 0 0 15px #666;
  display: none;
  position: absolute;
  width: 300px;
  z-index: 2147483647;
  right: 0;
  background-color: #eee;
}
/* line 526, ../../app/styles/_latimes.scss */
#search_overlay ul {
  display: block;
  height: 20px;
  position: relative;
  margin: 10px 5px 10px 0;
}

/* line 534, ../../app/styles/_latimes.scss */
#adv_search ul {
  display: block;
  margin: 15px 0 15px 15px;
}

/* line 540, ../../app/styles/_latimes.scss */
#search_overlay a {
  margin-left: 15px;
}
/* line 543, ../../app/styles/_latimes.scss */
#search_overlay input.adv_search_input {
  width: 255px;
}

/* line 548, ../../app/styles/_latimes.scss */
#adv_search_open {
  display: block;
  margin: 10px 0;
}

/* line 553, ../../app/styles/_latimes.scss */
#adv_search {
  box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  -moz-box-shadow: 0 0 15px #666;
  display: none;
  position: absolute;
  width: 300px;
  z-index: 2147483646;
  background-color: #eee;
  border: 1px solid #dfdfdf;
}
/* line 563, ../../app/styles/_latimes.scss */
#adv_search .adv_search_head {
  position: relative;
  overflow: hidden;
  background-color: #000;
  width: 100%;
}
/* line 569, ../../app/styles/_latimes.scss */
#adv_search h3 {
  color: #fff;
  float: left;
  font-size: 16px;
  margin: 5px 0 5px 15px;
  padding: 4px 0 0;
}

/* line 578, ../../app/styles/_latimes.scss */
#adv_search_close {
  display: block;
  float: right;
  background: transparent url(/img/adv_search/adv_search_close.png) no-repeat top left;
  _background: transparent url(/img/adv_search/adv_search_close.gif) no-repeat top left;
  text-indent: -9999px;
  width: 20px;
  height: 19px;
  margin: 5px 5px 5px 0;
}

/* line 590, ../../app/styles/_latimes.scss */
#adv_search li {
  _height: 40px;
}
/* line 592, ../../app/styles/_latimes.scss */
#adv_search li.fixed_date {
  _height: auto;
  margin: 20px 0 10px;
}
/* line 596, ../../app/styles/_latimes.scss */
#adv_search li.custom_date {
  _height: auto;
  margin: 10px 0;
}
/* line 599, ../../app/styles/_latimes.scss */
#adv_search li.custom_date input {
  width: auto;
  display: inline;
}
/* line 603, ../../app/styles/_latimes.scss */
#adv_search li.custom_date label {
  margin: 0 0 5px;
}
/* line 605, ../../app/styles/_latimes.scss */
#adv_search li.custom_date label.inline {
  margin: 0;
}
/* line 608, ../../app/styles/_latimes.scss */
#adv_search li.custom_date label.custom_from {
  margin: 0 0 0 18px;
}
/* line 614, ../../app/styles/_latimes.scss */
#adv_search .date {
  color: #000;
  font-style: normal;
}

/* line 620, ../../app/styles/_latimes.scss */
#bydate .date {
  color: #000;
  font-style: normal;
}

/* line 626, ../../app/styles/_latimes.scss */
#adv_search input {
  width: 265px;
}
/* line 629, ../../app/styles/_latimes.scss */
#adv_search .submit {
  width: auto;
  float: right;
  margin: 0 12px 12px 0;
}
/* line 634, ../../app/styles/_latimes.scss */
#adv_search .inline input {
  display: inline;
  width: auto;
}
/* line 638, ../../app/styles/_latimes.scss */
#adv_search #date_range_custom_from, #adv_search #date_range_custom_to {
  width: 90px;
}
/* line 641, ../../app/styles/_latimes.scss */
#adv_search #date_range_custom_from {
  margin-right: 5px;
}
/* line 644, ../../app/styles/_latimes.scss */
#adv_search li.submit {
  _height: auto;
  margin: 20px 0;
}
/* line 647, ../../app/styles/_latimes.scss */
#adv_search li.submit input {
  width: auto;
  text-indent: 0;
}

/* line 654, ../../app/styles/_latimes.scss */
#top_date_range_pre_div {
  clear: both;
}

/* line 658, ../../app/styles/_latimes.scss */
#calroot {
  z-index: 2147483647;
  margin-top: -1px;
  width: 198px;
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  padding: 2px;
}

/* line 672, ../../app/styles/_latimes.scss */
#calhead {
  height: 22px;
  padding: 2px 0;
}

/* line 677, ../../app/styles/_latimes.scss */
#caltitle {
  font-size: 14px;
  color: #0150D1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #ddd;
}

/* line 687, ../../app/styles/_latimes.scss */
#calnext {
  display: block;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

/* line 694, ../../app/styles/_latimes.scss */
#calprev {
  display: block;
  width: 20px;
  height: 16px;
  cursor: pointer;
  background: url(/img/adv_search/adv_l_r_arrows.png) no-repeat scroll 6px 0 transparent;
  float: left;
}

/* line 703, ../../app/styles/_latimes.scss */
#calnext {
  background: url(/img/adv_search/adv_l_r_arrows.png) no-repeat scroll -12px 0 transparent;
  float: right;
}

/* line 708, ../../app/styles/_latimes.scss */
#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden;
}

/* line 712, ../../app/styles/_latimes.scss */
#caltitle select {
  font-size: 10px;
}

/* line 716, ../../app/styles/_latimes.scss */
#caldays {
  height: 14px;
  border-bottom: 1px solid #ddd;
}
/* line 719, ../../app/styles/_latimes.scss */
#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center;
}

/* line 727, ../../app/styles/_latimes.scss */
#calweeks {
  background-color: #fff;
  margin-top: 4px;
}

/* line 732, ../../app/styles/_latimes.scss */
.calweek {
  clear: left;
  height: 22px;
}
/* line 735, ../../app/styles/_latimes.scss */
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 748, ../../app/styles/_latimes.scss */
.calweek a:hover {
  background-color: #ddd;
}

/* line 754, ../../app/styles/_latimes.scss */
.calfocus {
  background-color: #ddd;
}

/* line 759, ../../app/styles/_latimes.scss */
a.calsun {
  color: red;
}
/* line 762, ../../app/styles/_latimes.scss */
a.caloff:hover {
  background-color: #f5f5fa;
}
/* line 765, ../../app/styles/_latimes.scss */
a.caldisabled {
  background-color: #efefef !important;
  color: #cccccc !important;
  cursor: default;
}

/* line 772, ../../app/styles/_latimes.scss */
#calcurrent {
  background-color: #498CE2;
  color: #fff;
}

/* line 777, ../../app/styles/_latimes.scss */
#caltoday {
  background-color: #333;
  color: #fff;
}

/* line 782, ../../app/styles/_latimes.scss */
ul.advTabs {
  display: block;
  height: 26px;
  background: #000;
  clear: both;
  margin: 2px 0;
  padding: 3px 3px 0;
}
/* line 789, ../../app/styles/_latimes.scss */
ul.advTabs li {
  display: inline-block;
  float: left;
}
/* line 792, ../../app/styles/_latimes.scss */
ul.advTabs li a {
  display: block;
  width: 100px;
  height: 20px;
  color: #fff;
  background: #000;
  text-decoration: none;
  text-align: center;
  cursor: hand;
  padding: 6px 2px 0;
}
/* line 803, ../../app/styles/_latimes.scss */
ul.advTabs li.advCurrTab a {
  background: #fff;
  color: #000;
}

/* line 810, ../../app/styles/_latimes.scss */
.advSearchLink {
  float: left;
  line-height: 28px;
  margin-left: 10px;
}

/* line 816, ../../app/styles/_latimes.scss */
.adv_dropShadow {
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  -khtml-box-shadow: 0 0 15px #666;
  box-shadow: 0 0 15px #666;
}

/* line 823, ../../app/styles/_latimes.scss */
.adv_IEBorder {
  border: 1px solid #666;
}

/* line 827, ../../app/styles/_latimes.scss */
#adv_help {
  position: absolute;
  overflow: hidden;
  text-align: left;
  -moz-top-right-border-radius: 5px;
  -moz-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -khtml-top-right-border-radius: 5px;
  -khtml-top-left-border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 2147483647;
}

/* line 842, ../../app/styles/_latimes.scss */
#adv_helpHeader {
  width: 100%;
  height: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFF;
}

/* line 850, ../../app/styles/_latimes.scss */
.adv_warningHeader {
  background-color: #555;
  width: 100%;
  height: 22px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #FFF;
}

/* line 859, ../../app/styles/_latimes.scss */
#adv_helpHeader h3, .adv_warningHeader h3 {
  color: #FFF;
  margin-left: 10px;
  margin-top: 5px;
}

/* line 865, ../../app/styles/_latimes.scss */
#adv_helpContent {
  margin: 22px;
}
/* line 867, ../../app/styles/_latimes.scss */
#adv_helpContent h4 {
  line-height: 2em;
}
/* line 870, ../../app/styles/_latimes.scss */
#adv_helpContent ul {
  list-style: disc outside none;
  padding: 0 18px;
}
/* line 873, ../../app/styles/_latimes.scss */
#adv_helpContent ul li {
  list-style: disc outside none;
  margin-bottom: 5px;
}

/* line 880, ../../app/styles/_latimes.scss */
#smallContainer {
  width: 160px;
  height: 160px;
  border: 1px solid #aaa;
}

/* line 886, ../../app/styles/_latimes.scss */
#searchpanels .loading {
  background: url(/img/adv_search/adv_loading.gif) no-repeat 56px 56px;
}

/* line 890, ../../app/styles/_latimes.scss */
#big_container_1 {
  position: absolute;
  width: 820px;
  left: 50%;
  top: 40px;
  z-index: 2147483647;
  margin-left: -410px;
  display: none;
  background: none repeat scroll 0 0 #FFF;
  box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
  -moz-box-shadow: 0 0 15px #666;
  -moz-top-right-border-radius: 5px;
  -moz-top-left-border-radius: 5px;
  -webkit-top-right-border-radius: 5px;
  -webkit-top-left-border-radius: 5px;
  -khtml-top-right-border-radius: 5px;
  -khtml-top-left-border-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 891, ../../app/styles/_latimes.scss */
#big_container_1 .loading {
  background: url(/img/adv_search/adv_loading.gif) no-repeat 396px 314px;
}

/* line 915, ../../app/styles/_latimes.scss */
#big_container_2 {
  width: 800px;
  position: relative;
  padding: 10px;
}

/* line 921, ../../app/styles/_latimes.scss */
#searchBar {
  padding-bottom: .15em;
}
/* line 923, ../../app/styles/_latimes.scss */
#searchBar .adv_submit {
  right: 9px;
  top: 10px;
}

/* line 929, ../../app/styles/_latimes.scss */
#imgContainer {
  width: 800px;
}

/* line 934, ../../app/styles/_latimes.scss */
#searchBar ul.searchCrumbs {
  list-style-type: none;
  height: 30px;
  width: 663px;
  margin: auto;
}
/* line 940, ../../app/styles/_latimes.scss */
#searchBar ul li {
  float: left;
  padding-right: 3px;
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}
/* line 948, ../../app/styles/_latimes.scss */
#searchBar ul li img {
  float: left;
  margin-right: 3px;
}
/* line 953, ../../app/styles/_latimes.scss */
#searchBar ul a {
  display: inline;
  padding-left: 10px;
  padding-right: 8px;
  text-decoration: none;
}

/* line 961, ../../app/styles/_latimes.scss */
#spider_tooltip {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #ffa;
  border: 1px solid #cc9;
  font-size: 12px;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
  padding: 3px;
}

/* line 973, ../../app/styles/_latimes.scss */
#imgContainer image, #searchCrumbs img, #adv_keywords_close {
  cursor: pointer;
}

/* line 977, ../../app/styles/_latimes.scss */
#overlayMask {
  background: #000;
  display: none;
  left: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  top: 0;
  z-index: 2147483647;
}

/* line 988, ../../app/styles/_latimes.scss */
#adv_oneResultModal {
  background: #FFF;
  color: #222;
  position: absolute;
  z-index: 1100;
  text-align: left;
  top: 170px;
  overflow: hidden;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
  -khtml-box-shadow: 2px 2px 11px #666;
  box-shadow: 2px 2px 11px #666;
}

/* line 1002, ../../app/styles/_latimes.scss */
#adv_oneResultModalOverlay {
  background: #000;
  position: absolute;
  z-index: 1000;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 1013, ../../app/styles/_latimes.scss */
.red {
  background-color: red;
}

/* line 1017, ../../app/styles/_latimes.scss */
#thirdpartysearch {
  right: 5px;
  top: 0;
  background-image: none;
  width: auto;
  _width: 0;
  margin: 0;
  padding: 0;
}

/* line 1027, ../../app/styles/_latimes.scss */
#search-results ul.advTabs li.advCurrTab a {
  background-color: #fff;
  color: #000;
}

/* line 1033, ../../app/styles/_latimes.scss */
html body .tribForm, html body #search_overlay a {
  text-align: left;
}

/* line 1038, ../../app/styles/_latimes.scss */
#resultsCount {
  text-align: left;
}

/* line 1042, ../../app/styles/_latimes.scss */
:focus {
  outline: none;
}

/* line 1046, ../../app/styles/_latimes.scss */
.tribForm a {
  outline: none;
}
/* line 1048, ../../app/styles/_latimes.scss */
.tribForm a:focus {
  outline: none;
}

/* line 1053, ../../app/styles/_latimes.scss */
.adv_search #search-results p.search-terms, #search-results div.advPagination ul.pagination {
  float: none;
}

/* line 1057, ../../app/styles/_latimes.scss */
#panel_date_range_pre_div, select#date_range_predefined {
  margin: 0 0 0 14px;
}

/* line 1063, ../../app/styles/_latimes.scss */
* html #panel_date_range_pre_div, * html select#date_range_predefined {
  margin: 2px 0 0 30px;
}
/* line 1068, ../../app/styles/_latimes.scss */
* + html #panel_date_range_pre_div, * + html select#date_range_predefined {
  margin: 2px 0 0 30px;
}

/* line 1074, ../../app/styles/_latimes.scss */
.tribForm li.indent, .adv_search .searchmasthead #launchModal {
  margin-left: 20px;
}

/* line 1079, ../../app/styles/_latimes.scss */
.tribForm li, .tribForm label, .tribForm input {
  display: block;
}

/* line 1084, ../../app/styles/_latimes.scss */
#adv_results .clearfix {
  display: block;
}

/* line 1088, ../../app/styles/_latimes.scss */
.tribForm .colWrap ul, div.panelInput {
  float: left;
}

/* line 1093, ../../app/styles/_latimes.scss */
* html .tribForm input {
  text-indent: 0;
  padding: 4px 0 0 4px;
}
/* line 1096, ../../app/styles/_latimes.scss */
* html .tribForm input.submit {
  text-indent: 0;
  padding: 0;
}
/* line 1101, ../../app/styles/_latimes.scss */
* + html .tribForm input {
  text-indent: 0;
  padding: 4px 0 0 4px;
}
/* line 1105, ../../app/styles/_latimes.scss */
* + html .tribForm input.submit {
  text-indent: 0;
  padding: 0;
}

/* line 1111, ../../app/styles/_latimes.scss */
div.panel, #top_date_range_cust_div, #contentTable {
  display: none;
}

/* line 1116, ../../app/styles/_latimes.scss */
.adv_search .cubead, .adv_search .googlead {
  width: 300px;
}

/* line 1121, ../../app/styles/_latimes.scss */
#hotTopic #basicsearch #searchText, #thirdpartysearch #searchText {
  color: #000;
  margin: 0;
  padding: 0;
}

/* line 1127, ../../app/styles/_latimes.scss */
#adv_search .tribForm .disabled, a.caloff {
  color: #ccc;
}

/* line 1131, ../../app/styles/_latimes.scss */
#search-results ul.advTabs {
  background-color: #000;
}
/* line 1133, ../../app/styles/_latimes.scss */
#search-results ul.advTabs li a {
  background-color: #000;
}

/* FACEBOOK TOOLTIP */
/* line 1140, ../../app/styles/_latimes.scss */
#facebookToolTip {
  position: absolute;
  color: #000;
  width: 300px;
  border-top: 1px solid #000;
  background-color: white !important;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  font-weight: 700;
  line-height: 16px;
  font-size: 12px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  height: 29px;
  padding: 8px 5px 10px;
}

/* line 1160, ../../app/styles/_latimes.scss */
#facebookTooltipPlace, #hotTopic #basicsearch input.adv_search_input, #container #thirdpartysearch input.adv_search_input {
  width: 100px;
}

/* HOT TOPICS */
/* line 1166, ../../app/styles/_latimes.scss */
div#hotTopic {
  background-repeat: repeat-x;
  width: 980px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  min-height: 22px;
  margin-bottom: 15px;
}
/* line 1175, ../../app/styles/_latimes.scss */
div#hotTopic ul {
  height: 16px;
  margin-top: 4px;
}
/* line 1178, ../../app/styles/_latimes.scss */
div#hotTopic ul li {
  line-height: 12px;
  padding: 0 10px;
  border-color: black;
  float: left;
  list-style-type: none;
  border-left: 1px solid #034;
}
/* line 1185, ../../app/styles/_latimes.scss */
div#hotTopic ul li a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 1189, ../../app/styles/_latimes.scss */
div#hotTopic ul li a:hover {
  color: #000;
  text-decoration: underline;
}
/* line 1194, ../../app/styles/_latimes.scss */
div#hotTopic ul li.hot-link-begin {
  color: #900;
  font-weight: normal;
  border: 0;
}
/* line 1199, ../../app/styles/_latimes.scss */
div#hotTopic ul li.hot-link-1 {
  padding-left: 0;
  border: 0;
}

/* A SUNDRY OF STYLES FOR ANY SEASON */
/* line 1209, ../../app/styles/_latimes.scss */
body {
  font-family: Georgia,"Times New Roman",Times,serif;
  background-color: #FFF;
  font-size: 14px !important;
}

/* line 1215, ../../app/styles/_latimes.scss */
img {
  display: block;
}

/* line 1220, ../../app/styles/_latimes.scss */
a:link, a:visited, a:active {
  text-decoration: none;
}
/* line 1223, ../../app/styles/_latimes.scss */
a:hover {
  text-decoration: underline;
}

/* line 1228, ../../app/styles/_latimes.scss */
h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a, a {
  color: #000;
  font-weight: normal;
}

/* line 1233, ../../app/styles/_latimes.scss */
h1 {
  font-size: 26px;
}

/* line 1237, ../../app/styles/_latimes.scss */
h2 {
  font-size: 15px;
}
/* line 1239, ../../app/styles/_latimes.scss */
h2 a {
  padding: 0px;
  margin: 0px;
}

/* line 1245, ../../app/styles/_latimes.scss */
strong, b {
  font-weight: bold;
}

/* line 1249, ../../app/styles/_latimes.scss */
i {
  font-style: italic;
}

/* line 1253, ../../app/styles/_latimes.scss */
blockquote {
  margin: 10px 30px;
}

/* line 1257, ../../app/styles/_latimes.scss */
p.last-updated, span.last-updated {
  font-size: 11px;
  color: #AF0116;
  font-style: italic;
}

/* line 1264, ../../app/styles/_latimes.scss */
div#container {
  margin: 0px auto;
  width: 980px;
  position: relative;
  background-color: #FFF;
}
/* line 1270, ../../app/styles/_latimes.scss */
div#content {
  width: 630px;
  text-align: left;
  float: left;
}
/* line 1274, ../../app/styles/_latimes.scss */
div#content.fullwidth {
  width: 980px;
}
/* line 1278, ../../app/styles/_latimes.scss */
div#contentBottom {
  clear: both;
  margin: 0 5px;
}
/* line 1282, ../../app/styles/_latimes.scss */
div#rail {
  float: right;
  width: 336px;
  margin-bottom: 10px;
  position: relative;
  zoom: 1;
}
/* line 1289, ../../app/styles/_latimes.scss */
div.slidingbillboard {
  padding-bottom: 10px;
}
/* line 1292, ../../app/styles/_latimes.scss */
div#contentBottom {
  margin: 0;
}
/* line 1295, ../../app/styles/_latimes.scss */
div#branding, div#main, div#header, div#section {
  width: 980px;
}
/* line 1298, ../../app/styles/_latimes.scss */
div#branding {
  padding-bottom: 0px;
}
/* line 1301, ../../app/styles/_latimes.scss */
div.module {
  margin-bottom: 20px;
}
/* line 1304, ../../app/styles/_latimes.scss */
div.clear {
  clear: both;
}
/* line 1307, ../../app/styles/_latimes.scss */
div.centerAd {
  text-align: center;
}

/* line 1312, ../../app/styles/_latimes.scss */
.icon {
  display: inline;
  vertical-align: baseline;
}

/* line 1317, ../../app/styles/_latimes.scss */
.icon-inline-hack {
  display: inline;
}

/* line 1321, ../../app/styles/_latimes.scss */
.bottomborder {
  border-bottom: 1px solid #BCB9B9;
}

/* line 1325, ../../app/styles/_latimes.scss */
.topborder {
  border-top: 1px solid #BCB9B9;
}

/* line 1329, ../../app/styles/_latimes.scss */
.pad10vert {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 1334, ../../app/styles/_latimes.scss */
.pad5vert {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 1339, ../../app/styles/_latimes.scss */
.pad5top {
  padding-top: 5px;
}

/* line 1343, ../../app/styles/_latimes.scss */
.pad10top {
  padding-top: 10px;
}

/* line 1347, ../../app/styles/_latimes.scss */
.pad10hori {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1352, ../../app/styles/_latimes.scss */
.pad10 {
  padding: 10px;
}

/* line 1356, ../../app/styles/_latimes.scss */
.pad5hori {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 1361, ../../app/styles/_latimes.scss */
.content a {
  color: #2262CC;
}

/* line 1365, ../../app/styles/_latimes.scss */
ul.bullets li {
  list-style-type: disc;
}

/* line 1369, ../../app/styles/_latimes.scss */
img.frame {
  border: 3px solid gray;
}

/* line 1374, ../../app/styles/_latimes.scss */
a.blue {
  color: #2262CC !important;
}
/* line 1377, ../../app/styles/_latimes.scss */
a.black {
  color: black !important;
}

/* line 1382, ../../app/styles/_latimes.scss */
ul.indent20 li {
  margin-left: 20px;
}

/* line 1386, ../../app/styles/_latimes.scss */
.datagrid img {
  display: inline;
}

/* line 1390, ../../app/styles/_latimes.scss */
div.frame {
  padding: 2px;
  border: 1px solid #DDD;
}

/* line 1395, ../../app/styles/_latimes.scss */
.invisible {
  display: none;
}

/* line 1399, ../../app/styles/_latimes.scss */
div#header {
  height: 90px;
  position: relative;
}

/* line 1404, ../../app/styles/_latimes.scss */
.smallLogo div#logo {
  bottom: 5px;
}

/* line 1408, ../../app/styles/_latimes.scss */
#sectionBreadcrumb {
  text-transform: uppercase;
  font-size: 27px;
  border-left: 2px solid #CCC;
  position: absolute;
  left: 432px;
  top: 34px;
  padding: 5px 0 0 16px;
  line-height: 35px;
}

/* line 1419, ../../app/styles/_latimes.scss */
div.sectionborder {
  border-bottom: 2px solid #DDD;
  margin: 10px 0;
  clear: both;
}

/* line 1425, ../../app/styles/_latimes.scss */
.content-body a {
  color: #2262CC;
}

/* CUBE AD */
/* line 1431, ../../app/styles/_latimes.scss */
div.ad {
  padding-bottom: 10px;
}
/* line 1433, ../../app/styles/_latimes.scss */
div.ad img {
  margin: 0 auto;
}

/* line 1438, ../../app/styles/_latimes.scss */
p.adText {
  font-size: 11px;
  color: #999;
  text-align: center;
  margin-bottom: 5px;
}

/* line 1445, ../../app/styles/_latimes.scss */
table.cubeAd {
  height: 280px;
  text-align: center;
  vertical-align: middle;
  width: 336px;
  border: 1px solid #FFF;
  border-collapse: collapse;
  background: transparent;
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
  padding: 0px;
}
/* line 1457, ../../app/styles/_latimes.scss */
table.cubeAd .miscAd {
  margin-bottom: 0;
  zoom: 1;
  padding: 15px 0;
  background-color: #CCC;
}
/* line 1463, ../../app/styles/_latimes.scss */
table.cubeAd tbody, table.cubeAd tr, table.cubeAd td, table.cubeAd a, table.cubeAd img {
  position: relative;
  zoom: 1;
}
/* line 1467, ../../app/styles/_latimes.scss */
table.cubeAd div.miscAd img {
  display: inline;
}
/* line 1470, ../../app/styles/_latimes.scss */
table.cubeAd .adLabel {
  color: #888;
  font: 10px / 10px Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

/* line 1479, ../../app/styles/_latimes.scss */
.cube {
  text-align: center;
  margin-bottom: 20px;
}
/* line 1480, ../../app/styles/_latimes.scss */
.cube * {
  vertical-align: middle;
  margin: 0 auto;
}

/* CLASSIFIED BAR */
/* line 1491, ../../app/styles/_latimes.scss */
div#classBarNav {
  width: 980px;
  font-size: 12px;
  color: #000;
  background-color: #FFF;
}
/* line 1497, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink {
  padding: 3px 0px;
  list-style-type: none;
  float: right;
}
/* line 1501, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink li {
  float: left;
  padding: 0px 8px;
}
/* line 1504, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink li.lastMenuItem {
  border-right: 0px;
}
/* line 1509, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavMember {
  padding: 3px 5px 3px 3px;
  list-style-type: none;
  float: left;
}
/* line 1514, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink a {
  color: #000;
  text-transform: uppercase;
  background-color: #FFF;
}
/* line 1521, ../../app/styles/_latimes.scss */
div#classified-bar {
  margin-top: 10px;
  border-bottom: 3px solid #000;
  font-weight: normal;
  background-color: #FFF;
}
/* line 1526, ../../app/styles/_latimes.scss */
div#classified-bar a {
  font-weight: normal;
  background-color: #FFF;
}
/* line 1531, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink a {
  text-transform: capitalize;
}
/* line 1533, ../../app/styles/_latimes.scss */
div#classBarNav ul.classBarNavLink a:hover {
  text-decoration: underline;
}
/* line 1537, ../../app/styles/_latimes.scss */
div#classified-bar a:hover {
  text-decoration: underline;
}
/* line 1540, ../../app/styles/_latimes.scss */
div#targetWeeklyAd {
  background: #C00;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}
/* line 1548, ../../app/styles/_latimes.scss */
div#targetWeeklyAdLogo {
  float: left;
  color: white;
}
/* line 1552, ../../app/styles/_latimes.scss */
div#headerAd {
  float: right;
  padding-right: 10px;
}
/* line 1556, ../../app/styles/_latimes.scss */
div#headerthirdparty div#headerAd {
  padding: 0;
}
/* line 1559, ../../app/styles/_latimes.scss */
div#inlineHeaderAd {
  bottom: 15px;
  float: right;
  position: absolute;
  right: 5px;
  z-index: 30;
  zoom: 1;
}
/* line 1567, ../../app/styles/_latimes.scss */
div.headerAdCode {
  position: absolute;
  top: 29px;
  height: 64px;
}
/* line 1572, ../../app/styles/_latimes.scss */
div#headerAdCode1 {
  right: 10px;
}
/* line 1573, ../../app/styles/_latimes.scss */
div#headerAdCode1.headerAdCodeNoPromo {
  top: 55px;
}
/* line 1578, ../../app/styles/_latimes.scss */
div#headerAdCode2 {
  left: 10px;
}
/* line 1581, ../../app/styles/_latimes.scss */
div#headerAdCode3 {
  left: 252px;
}
/* line 1584, ../../app/styles/_latimes.scss */
div#headerAdCode4 {
  left: 494px;
}
/* line 1587, ../../app/styles/_latimes.scss */
div#navigation {
  width: 100%;
  position: relative;
  background-color: #000;
  margin-top: 0;
  margin-bottom: 50px;
}
/* line 1593, ../../app/styles/_latimes.scss */
div#navigation div#layerOne {
  position: relative;
  height: 38px;
  width: 100%;
  display: inline-block;
}
/* line 1599, ../../app/styles/_latimes.scss */
div#navigation a {
  text-decoration: none;
}

/* TARGET AD */
/* HEADER AD */
/* NAVIGATION BAR */
/* line 1611, ../../app/styles/_latimes.scss */
* html ul#root {
  display: inline-block;
}

/* line 1616, ../../app/styles/_latimes.scss */
ul#root {
  margin: 0;
  padding: 0 0 0 5px;
  position: relative;
  width: auto;
  visibility: hidden;
}
/* line 1622, ../../app/styles/_latimes.scss */
ul#root li {
  cursor: pointer;
  float: left;
  width: auto;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  display: block;
  padding: 5px 7px;
}
/* line 1631, ../../app/styles/_latimes.scss */
ul#root li a {
  color: #000;
  text-decoration: none;
  display: block;
  float: left;
}
/* line 1636, ../../app/styles/_latimes.scss */
ul#root li a.mainNav {
  display: block;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 1644, ../../app/styles/_latimes.scss */
ul#root li.highlight, ul#root li:hover {
  background: none;
}
/* line 1648, ../../app/styles/_latimes.scss */
ul#root li a:hover, ul#root li a:focus, ul#root li a:active {
  color: #000;
}
/* line 1652, ../../app/styles/_latimes.scss */
ul#root li.first {
  margin-left: 5px;
}
/* line 1655, ../../app/styles/_latimes.scss */
ul#root li.highlight a {
  color: #000;
  cursor: pointer;
  background: url(/img/tabs.gif) no-repeat 0 4px;
}
/* line 1660, ../../app/styles/_latimes.scss */
ul#root li ul.level2 {
  display: none;
  cursor: pointer;
  max-width: 100%;
  position: absolute;
  height: 40px;
  left: -9999px;
  top: 37px;
  width: 980px;
  display: block;
  margin-top: 0px;
  background: transparent url(/img/subnav_bg.gif) no-repeat scroll 0 bottom;
}
/* line 1672, ../../app/styles/_latimes.scss */
ul#root li ul.level2 li {
  margin: 0 7px 0 9px;
  padding: 0;
  max-width: none;
  background-image: none;
  background-image: none;
}
/* line 1677, ../../app/styles/_latimes.scss */
ul#root li ul.level2 li a {
  margin: 0px;
  padding: 5px 7px 6px;
  position: relative !important;
  /* ie Mac */
  cursor: pointer !important;
  white-space: nowrap;
  font-weight: normal;
  background-image: none;
  font-size: 12px;
  color: #000;
  line-height: 29px;
  text-transform: uppercase;
}
/* line 1690, ../../app/styles/_latimes.scss */
ul#root li ul.level2 li a:hover {
  text-decoration: underline;
  color: #000;
}
/* line 1696, ../../app/styles/_latimes.scss */
ul#root li ul.level2 li.highlight li:hover {
  background-image: none;
}
/* line 1701, ../../app/styles/_latimes.scss */
ul#root li.highlight ul.level2 li a:hover {
  color: #000;
}
/* line 1704, ../../app/styles/_latimes.scss */
ul#root li.hideMainNav {
  background-image: none;
  padding: 5px 0;
}
/* line 1705, ../../app/styles/_latimes.scss */
ul#root li.hideMainNav a {
  display: none;
}
/* line 1707, ../../app/styles/_latimes.scss */
ul#root li.hideMainNav a.mainNav {
  background: none;
}
/* line 1714, ../../app/styles/_latimes.scss */
ul#root li a.mainNav span {
  line-height: 5px;
  padding-bottom: 10px;
  padding-right: 7px;
  padding-top: 5px;
}
/* line 1721, ../../app/styles/_latimes.scss */
ul#root li.highlight a.mainNav span {
  background: transparent url(/img/tabs.gif) no-repeat scroll right -50px;
  padding-left: 0;
}
/* line 1725, ../../app/styles/_latimes.scss */
ul#root li.highlight ul.level2 li a {
  color: #000;
  font-size: 12px;
  line-height: 29px;
  padding: 5px 7px 6px;
  margin: 0px;
}
/* line 1733, ../../app/styles/_latimes.scss */
ul#root li:hover ul, ul#root li.msieFix ul, ul#root li.highlight ul {
  display: block;
  left: 0;
  z-index: 5;
  top: 37px;
}
/* line 1739, ../../app/styles/_latimes.scss */
ul#root li ul.subStay {
  z-index: 3;
}
/* line 1741, ../../app/styles/_latimes.scss */
ul#root li ul.subStay a {
  display: block;
}
/* line 1745, ../../app/styles/_latimes.scss */
ul#root li.navLink {
  padding: 0;
}
/* line 1747, ../../app/styles/_latimes.scss */
ul#root li.navLink a {
  padding: 17px 4px 16px 5px;
}
/* line 1751, ../../app/styles/_latimes.scss */
ul#root li ul.subStay li.highlight {
  background: transparent url(/img/subnav_tabs.gif) no-repeat scroll 0 5px;
  margin: 0 0 0 7px;
}
/* line 1754, ../../app/styles/_latimes.scss */
ul#root li ul.subStay li.highlight a {
  background: transparent url(/img/subnav_tabs.gif) no-repeat scroll right -31px;
  padding-left: 9px;
  padding-right: 14px;
}
/* line 1762, ../../app/styles/_latimes.scss */
ul.shopNav a {
  color: #090 !important;
}

/* FOOTER */
/* line 1770, ../../app/styles/_latimes.scss */
div#logo {
  float: left;
  position: absolute;
  bottom: 0;
}
/* line 1775, ../../app/styles/_latimes.scss */
div#footer {
  margin: 0px 0;
  padding: 10px;
}
/* line 1778, ../../app/styles/_latimes.scss */
div#footer div#siteOverview {
  border-bottom: 1px solid #000;
  border-top: 4px solid #000;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 1783, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul {
  width: 160px;
  float: left;
}
/* line 1787, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li ul {
  padding-top: 0px;
}
/* line 1789, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li ul li a.mainOverviewLink {
  color: #063640;
  font-size: 20px;
  line-height: 40px;
}
/* line 1795, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li a {
  font-weight: normal;
  font-size: 12px;
}
/* line 1796, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li a.mainNav {
  color: #063640;
  font-size: 20px;
  line-height: 40px;
}
/* line 1808, ../../app/styles/_latimes.scss */
div#footerContainer {
  display: inline-block;
  width: 100%;
}
/* line 1813, ../../app/styles/_latimes.scss */
div#footer div#footerlogo {
  float: left;
}
/* line 1816, ../../app/styles/_latimes.scss */
div#footer div#footertext {
  float: right;
}
/* line 1818, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links {
  padding-bottom: 3px;
}
/* line 1820, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links li {
  display: inline;
  padding: 0px 0px;
  font-weight: normal;
}
/* line 1824, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links li.firstMenuItem {
  padding-left: 0px;
}
/* line 1827, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links li.lastMenuItem {
  border-right: 0px solid #3a3939;
}
/* line 1830, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links li a {
  color: #3a3939;
  font-weight: normal;
  white-space: nowrap;
}
/* line 1839, ../../app/styles/_latimes.scss */
div#footerContainer {
  min-height: 110px;
  display: inline-block;
}
/* line 1843, ../../app/styles/_latimes.scss */
div#footer {
  padding: 0;
}
/* line 1845, ../../app/styles/_latimes.scss */
div#footer div#footerlogo, div#footer div#footertext {
  float: none;
}

/* line 1853, ../../app/styles/_latimes.scss */
* html div#footer div#siteOverview {
  display: inline-block;
}

/* line 1858, ../../app/styles/_latimes.scss */
div#footer div#footertext ul.links li a, div#footerlogo {
  color: #000;
}
/* line 1861, ../../app/styles/_latimes.scss */
div#footertext {
  color: #000;
  font-size: 11px;
}
/* line 1866, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li ul li a.mainOverviewLink, div#footer div#siteOverview ul li a.mainNav {
  color: #000;
  font-size: 17px;
  line-height: 30px;
}
/* line 1871, ../../app/styles/_latimes.scss */
div#footer div#siteOverview ul li ul li a {
  color: #000;
}
/* line 1875, ../../app/styles/_latimes.scss */
div.family {
  text-align: center;
  padding-top: 5px;
}

/* MEZZANINE */
/* line 1883, ../../app/styles/_latimes.scss */
.mezzanine {
  padding: 10px 0;
  margin-bottom: 0px;
}
/* line 1886, ../../app/styles/_latimes.scss */
.mezzanine .curvedContent {
  margin-left: 0;
}
/* line 1889, ../../app/styles/_latimes.scss */
.mezzanine div.header {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
  border-top: 3px solid #000000;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 1897, ../../app/styles/_latimes.scss */
.mezzanine h3 {
  color: black;
  font-weight: normal;
}
/* line 1901, ../../app/styles/_latimes.scss */
.mezzanine h2 {
  margin-bottom: 5px;
}

/* line 1907, ../../app/styles/_latimes.scss */
div.mezzanine h3, div.mezzanine h4 {
  margin-bottom: 5px;
}

/* line 1913, ../../app/styles/_latimes.scss */
.mezzanine li.mezzitem img {
  margin-bottom: 2px;
}
/* line 1916, ../../app/styles/_latimes.scss */
.mezzanine.for5 {
  width: 100%;
}
/* line 1918, ../../app/styles/_latimes.scss */
.mezzanine.for5 li.mezzitem {
  float: left;
  margin-right: 2%;
  width: 18%;
}
/* line 1923, ../../app/styles/_latimes.scss */
.mezzanine.for5 a.mezzphoto {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

/* RIGHTRAIL */
/* line 1933, ../../app/styles/_latimes.scss */
.box-header {
  font-size: 22px;
  margin-bottom: 8px;
}

/* line 1938, ../../app/styles/_latimes.scss */
.black-line-box h2 {
  border-bottom: 1px solid #DDD;
  border-top: 3px solid black;
  padding: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: none;
}

/* line 1948, ../../app/styles/_latimes.scss */
.stay-connected-box {
  border: 2px solid #bcb9b9;
  padding: 10px;
  margin-bottom: 15px;
}
/* line 1952, ../../app/styles/_latimes.scss */
.stay-connected-box p {
  margin: 0;
}
/* line 1955, ../../app/styles/_latimes.scss */
.stay-connected-box ul {
  line-height: 100%;
  margin: 0;
}
/* line 1959, ../../app/styles/_latimes.scss */
.stay-connected-box li {
  list-style-type: none !important;
  margin-left: 0px;
  padding-bottom: 7px;
}

/* line 7, ../../app/styles/main.scss */
.app-container {
  width: 333px;
  height: 367px;
  border: 2px #cdcdcd solid;
  margin-bottom: 19px;
}

/* line 14, ../../app/styles/main.scss */
#wrapper {
  width: 333px;
  height: 302px;
  overflow: auto;
  position: relative;
}

/* line 21, ../../app/styles/main.scss */
.page-header {
  border-bottom: 2px #cdcdcd solid;
  padding-bottom: 5px;
  width: 333px;
}
/* line 27, ../../app/styles/main.scss */
.page-header h1 {
  font-family: "Georgia", Times, serif;
  margin: 5px 0px -4px 18px;
  color: #942928;
  font-weight: bold;
}
/* line 34, ../../app/styles/main.scss */
.page-header #subhed {
  font-size: 15px;
  padding-bottom: 15px;
  margin: 5px 0px -13px 18px;
  display: block;
}
/* line 40, ../../app/styles/main.scss */
.page-header #subhed a {
  color: #2266cc;
}

/* line 50, ../../app/styles/main.scss */
#show-list {
  margin-top: 10px;
  margin-left: 0px;
  list-style-position: outside;
}
/* line 55, ../../app/styles/main.scss */
#show-list li {
  border-bottom: 2px #cdcdcd solid;
  margin-left: 5px;
  overflow-x: hidden;
  padding: 15px;
}
/* line 61, ../../app/styles/main.scss */
#show-list li:first-child {
  margin-top: -6px;
}
/* line 65, ../../app/styles/main.scss */
#show-list li:last-child {
  border-bottom: 0px;
}
/* line 70, ../../app/styles/main.scss */
#show-list .notable {
  background-color: #dfca7d;
  border-radius: 2px;
  display: inline-block;
  padding: 15px 10px 15px 10px;
  margin-left: -8px;
  width: 96%;
}
/* line 78, ../../app/styles/main.scss */
#show-list .notable a {
  font-weight: bold;
}
